<p id="notice"><%= notice %></p>

<h1>Ordenmescams</h1>

<%= form_for "", url: ordenmescams_path, role: "Search", method: :get do %>
  <%= text_field_tag :correo, @correoelectronico, placeholder: "Indica tu dirección de correo electrónico" %>
  <%= submit_tag "Consultar Órdenes de Compra" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Fecha de Solicitud</th>
      <th>Fecha de Entrega</th>
      <th>Colchón</th>
      <th>Material</th>
      <th>Color</th>
      <th>Cajón Superior</th>
      <th>Repisa</th>
      <th>Correo</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordenmescams.each do |ordenmescam| %>
      <tr>
        <td><%= ordenmescam.created_at %></td>
        <td><%= ordenmescam.fechaentrega %></td>
        <td><%= ordenmescam.colchon %></td>
        <td><%= ordenmescam.material %></td>
        <td><%= ordenmescam.color %></td>
        <td><%= ordenmescam.cajonsuperior %></td>
        <td><%= ordenmescam.repisa %></td>
        <td><%= ordenmescam.correo %></td>
        <td><%= ordenmescam.nombre %></td>
        <td><%= ordenmescam.cantidad %></td>
        <td><%= link_to 'Show', ordenmescam %></td>
        <td><%= link_to 'Edit', edit_ordenmescam_path(ordenmescam) %></td>
        <td><%= link_to 'Destroy', ordenmescam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Ordenmescam', new_ordenmescam_path %> -->
<%= link_to 'Inicio', inicio_index_path %>
<%= link_to 'Cotiza el Mueble que deseas', transacciones_cotizaciones_path %>
<%= link_to 'Consulta tus Cotizaciones y Pedidos', transacciones_consultas_path %>