<header class="masthead mastheadC">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">Órdenes de Closet Multifuncional</div>
      <div class="intro-lead-in">Puedes consultar tus órdenes de compra de este tipo de mueble, indicando tu dirección de correo electrónico con la cual realizaste tus pedidos:</div>
      <br>
      <br>
      <br>

<p id="notice"><%= notice %></p>

<%= form_for "", url: ordenclomuls_path, role: "Search", method: :get do %>
  <%= text_field_tag :correo, @correoelectronico, placeholder: "Indica tu dirección de correo electrónico" %>
  <%= submit_tag "Consultar Órdenes de Compra" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Fecha de Solicitud</th>
      <th>Fecha de Entrega</th>
      <th>Altura (en metros)</th>
      <th>Anchura (en metros)</th>
      <th>Material</th>
      <th>Color</th>
      <th>Correo</th>
      <th>Nombre</th>
      <th>Cantidad</th>
    </tr>
  </thead>

  <tbody>
    <% @ordenclomuls.each do |ordenclomul| %>
      <tr>
        <td><%= ordenclomul.created_at %></td>
        <td><%= ordenclomul.fechaentrega %></td>
        <td><%= ordenclomul.altura %></td>
        <td><%= ordenclomul.anchura %></td>
        <td><%= ordenclomul.material %></td>
        <td><%= ordenclomul.color %></td>
        <td><%= ordenclomul.correo %></td>
        <td><%= ordenclomul.nombre %></td>
        <td><%= ordenclomul.cantidad %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
      <br>
    </div>
  </div>
</header>