<p id="notice"><%= notice %></p>

<h1>Ordenclomuls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordenclomuls.each do |ordenclomul| %>
      <tr>
        <td><%= link_to 'Show', ordenclomul %></td>
        <td><%= link_to 'Edit', edit_ordenclomul_path(ordenclomul) %></td>
        <td><%= link_to 'Destroy', ordenclomul, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordenclomul', new_ordenclomul_path %>
