<%= form_with(model: cotizesccam, local: true) do |form| %>
  <% if cotizesccam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cotizesccam.errors.count, "error") %> prohibited this cotizesccam from being saved:</h2>

      <ul>
      <% cotizesccam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :colchon %>
    <%= form.select(:colchon, options_for_select([['Sencillo', 'Sencillo'], ['Semidoble', 'Semidoble']]), {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.select(:material, options_for_select([['Material económico', 'Material económico'], ['Material caro', 'Material caro']]), {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.select(:color, options_for_select([['Madera clara', 'Madera clara'], ['Madera oscura', 'Madera oscura']]), {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo, id: :cotizesccam_correo %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :cotizesccam_nombre %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.select(:cantidad, options_for_select([['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7'], ['8', '8'], ['9', '9'], ['10', '10']]), {include_blank: true}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
