<p id="notice"><%= notice %></p>

<h1>Cotizesccams</h1>

<%= form_for "", url: cotizesccams_path, role: "Search", method: :get do %>
  <%= text_field_tag :correo, @correoelectronico, placeholder: "Indica tu dirección de correo electrónico" %>
  <%= submit_tag "Consultar Cotizaciones" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Colchón</th>
      <th>Material</th>
      <th>Color</th>
      <th>Correo</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotizesccams.each do |cotizesccam| %>
      <tr>
        <td><%= cotizesccam.colchon %></td>
        <td><%= cotizesccam.material %></td>
        <td><%= cotizesccam.color %></td>
        <td><%= cotizesccam.correo %></td>
        <td><%= cotizesccam.nombre %></td>
        <td><%= cotizesccam.cantidad %></td>
        <td><%= link_to 'Show', cotizesccam %></td>
        <td><%= link_to 'Edit', edit_cotizesccam_path(cotizesccam) %></td>
        <td><%= link_to 'Destroy', cotizesccam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Cotizesccam', new_cotizesccam_path %> -->
<%= link_to 'Inicio', inicio_index_path %>
<%= link_to 'Cotiza el Mueble que deseas', transacciones_cotizaciones_path %>
<%= link_to 'Consulta tus Cotizaciones y Pedidos', transacciones_consultas_path %>