<p id="notice"><%= notice %></p>

<p>
  <strong>Colchón:</strong>
  <%= @cotizesccam.colchon %>
</p>

<p>
  <strong>Material:</strong>
  <%= @cotizesccam.material %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cotizesccam.color %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cotizesccam.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotizesccam.nombre %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @cotizesccam.cantidad %>
</p>

<% case @cotizesccam.confirmacion %>
  <% when 'Por confirmar' %>
    <%= form_for "", url: @cotizesccam, role: "Search", method: :get do %>
      <%= hidden_field_tag :identificador, @cotizesccam.id %>
      <%= submit_tag "Enviar Clave de Confirmación de orden de compra" %>
    <% end %>

    <%= form_for "", url: @cotizesccam, role: "Search", method: :get do %>
      <%= hidden_field_tag :identificador, @cotizesccam.id %>
      <%= password_field_tag :clavecompra, nil %>
      <%= submit_tag "Confirmar orden de compra" %>
    <% end %>
  <% else %>
  <p>
    <strong>Confirmación de Orden de Compra: SÍ</strong>
  </p>
<% end %>

<%= link_to 'Edit', edit_cotizesccam_path(@cotizesccam) %> |
<%= link_to 'Back', cotizesccams_path %>
