<p id="notice"><%= notice %></p>

<p>
  <strong>Colchón:</strong>
  <%= @cotizesccam.colchon %>
</p>

<p>
  <strong>Material:</strong>
  <%= @cotizesccam.material %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cotizesccam.color %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cotizesccam.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotizesccam.nombre %>
</p>

<%= link_to 'Edit', edit_cotizesccam_path(@cotizesccam) %> |
<%= link_to 'Back', cotizesccams_path %>
