<p id="notice"><%= notice %></p>

<h1>Cotizmescams</h1>

<table>
  <thead>
    <tr>
      <th>Colchón</th>
      <th>Material</th>
      <th>Color</th>
      <th>Cajón Superior</th>
      <th>Repisa</th>
      <th>Correo</th>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotizmescams.each do |cotizmescam| %>
      <tr>
        <td><%= cotizmescam.colchon %></td>
        <td><%= cotizmescam.material %></td>
        <td><%= cotizmescam.color %></td>
        <td><%= cotizmescam.cajonsuperior %></td>
        <td><%= cotizmescam.repisa %></td>
        <td><%= cotizmescam.correo %></td>
        <td><%= cotizmescam.nombre %></td>
        <td><%= link_to 'Show', cotizmescam %></td>
        <td><%= link_to 'Edit', edit_cotizmescam_path(cotizmescam) %></td>
        <td><%= link_to 'Destroy', cotizmescam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cotizmescam', new_cotizmescam_path %>
