<p id="notice"><%= notice %></p>

<h1>Cotizmescams</h1>

<%= form_for "", url: cotizmescams_path, role: "Search", method: :get do %>
  <%= text_field_tag :correo, @correoelectronico, placeholder: "Indica tu dirección de correo electrónico" %>
  <%= submit_tag "Consultar Cotizaciones" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Colchón</th>
      <th>Material</th>
      <th>Color</th>
      <th>Cajón Superior</th>
      <th>Repisa</th>
      <th>Correo</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Confirmación de Orden de Compra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotizmescams.each do |cotizmescam| %>
      <tr>
        <td><%= cotizmescam.colchon %></td>
        <td><%= cotizmescam.material %></td>
        <td><%= cotizmescam.color %></td>
        <td><%= cotizmescam.cajonsuperior %></td>
        <td><%= cotizmescam.repisa %></td>
        <td><%= cotizmescam.correo %></td>
        <td><%= cotizmescam.nombre %></td>
        <td><%= cotizmescam.cantidad %></td>
        <td><%= cotizmescam.confirmacion %></td>
        <td><%= link_to 'Show', cotizmescam %></td>
        <td><%= link_to 'Edit', edit_cotizmescam_path(cotizmescam) %></td>
        <td><%= link_to 'Destroy', cotizmescam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Cotizmescam', new_cotizmescam_path %> -->
<%= link_to 'Inicio', inicio_index_path %>
<%= link_to 'Cotiza el Mueble que deseas', transacciones_cotizaciones_path %>
<%= link_to 'Consulta tus Cotizaciones y Pedidos', transacciones_consultas_path %>