<p id="notice"><%= notice %></p>

<p>
  <strong>Colchón:</strong>
  <%= @cotizmescam.colchon %>
</p>

<p>
  <strong>Material:</strong>
  <%= @cotizmescam.material %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cotizmescam.color %>
</p>

<p>
  <strong>Cajón Superior:</strong>
  <%= @cotizmescam.cajonsuperior %>
</p>

<p>
  <strong>Repisa:</strong>
  <%= @cotizmescam.repisa %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cotizmescam.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotizmescam.nombre %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @cotizmescam.cantidad %>
</p>

<% case @cotizmescam.confirmacion %>
  <% when 'Por confirmar' %>
    <%= form_for "", url: @cotizmescam, role: "Search", method: :get do %>
      <%= hidden_field_tag :identificador, @cotizmescam.id %>
      <%= submit_tag "Enviar Clave de Confirmación de orden de compra" %>
    <% end %>

    <%= form_for "", url: @cotizmescam, role: "Search", method: :get do %>
      <%= hidden_field_tag :identificador, @cotizmescam.id %>
      <%= password_field_tag :clavecompra, nil %>
      <%= submit_tag "Confirmar orden de compra" %>
    <% end %>
  <% else %>
  <p>
    <strong>Confirmación de Orden de Compra: SÍ</strong>
  </p>
<% end %>

<%= link_to 'Edit', edit_cotizmescam_path(@cotizmescam) %> |
<%= link_to 'Back', cotizmescams_path %>
