<p id="notice"><%= notice %></p>

<p>
  <strong>Colchón:</strong>
  <%= @cotizmescam.colchon %>
</p>

<p>
  <strong>Material:</strong>
  <%= @cotizmescam.material %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cotizmescam.color %>
</p>

<p>
  <strong>Cajón Superior:</strong>
  <%= @cotizmescam.cajonsuperior %>
</p>

<p>
  <strong>Repisa:</strong>
  <%= @cotizmescam.repisa %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cotizmescam.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotizmescam.nombre %>
</p>

<%= link_to 'Edit', edit_cotizmescam_path(@cotizmescam) %> |
<%= link_to 'Back', cotizmescams_path %>
