<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @cotizmescam.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotizmescam.nombre %>
</p>

<%= link_to 'Edit', edit_cotizmescam_path(@cotizmescam) %> |
<%= link_to 'Back', cotizmescams_path %>
