<header class="espacioPagina imagenFondo4">
  <div class="container">
    <div class="intro-text">
      <% if notice %>
        <p id="notice" class="alert-success insercionExitosa"><%= notice %></p>
        <br>
        <br>
        <br>
      <% end %>
      <div class="intro-heading text-uppercase">Detalles de Cotización</div>
      <br>
      <br>
      <br>
      <% case @cotizmescam.confirmacion %>
        <% when 'Por confirmar' %>
          <%= form_for "", url: @cotizmescam, role: "Search", method: :get do %>
            <h2 class="th"><%= hidden_field_tag :identificador, @cotizmescam.id %><%= submit_tag "Enviar Clave para Confirmación" %></h2>
          <% end %>
          <%= form_for "", url: @cotizmescam, role: "Search", method: :get do %>
            <table>
              <tr>
                <th><%= label_tag :clavecompra, 'Clave de Confirmación de Compra:' %></th>
                <th class="th"><%= hidden_field_tag :identificador, @cotizmescam.id %><%= password_field_tag :clavecompra, nil %></th>
              </tr>
            </table>
            <h2 class="th"><%= submit_tag "Confirmar Orden de Compra" %></h2>
            <br>
            <br>
            <br>
          <% end %>
      <% end %>
      <table>
        <tr>
          <th class="th">Número de Cotización:</th>
          <th class="th"><%= @cotizmescam.id %></th>
        </tr>
        <tr>
          <th class="th">Mueble Solicitado:</th>
          <th class="th">MESA CAMA</th>
        </tr>
        <tr>
          <th class="th">Fecha de Cotización:</th>
          <th class="th"><%= (@cotizmescam.created_at - 5.hours).strftime("%d/%m/%Y - %I:%M:%S %p") %></th>
        </tr>
        <tr>
          <th class="th">Fecha de Confirmación de Compra:</th>
          <th class="th">
            <% if @cotizmescam.created_at != @cotizmescam.updated_at %>
              <%= (@cotizmescam.updated_at - 5.hours).strftime("%d/%m/%Y - %I:%M:%S %p") %></th>
            <% else %>
              No se ha confirmado la orden de compra para esta cotización
            <% end %>
        </tr>
        <tr>
          <th class="th">Confirmación de Orden de Compra:</th>
          <th class="th"><%= @cotizmescam.confirmacion %></th>
        </tr>
        <tr>
          <th class="th">Tamaño de Colchón:</th>
          <th class="th"><%= @cotizmescam.colchon %></th>
        </tr>
        <tr>
          <th class="th">Cajón Superior:</th>
          <th class="th"><%= @cotizmescam.cajonsuperior %></th>
        </tr>
        <tr>
          <th class="th">Repisa:</th>
          <th class="th"><%= @cotizmescam.repisa %></th>
        </tr>
        <tr>
          <th class="th">Material de Fabricación:</th>
          <th class="th"><%= @cotizmescam.material %></th>
        </tr>
        <tr>
          <th class="th">Estilo de Color:</th>
          <th class="th"><%= @cotizmescam.color %></th>
        </tr>
        <tr>
          <th class="th">Correo Electrónico:</th>
          <th class="th"><%= @cotizmescam.correo %></th>
        </tr>
        <tr>
          <th class="th">Nombre de Contacto:</th>
          <th class="th"><%= @cotizmescam.nombre %></th>
        </tr>
        <tr>
          <th class="th">Cantidad Solicitada:</th>
          <th class="th"><%= @cotizmescam.cantidad %></th>
        </tr>
      </table>
      <br>
      <br>
      <br>
      <table>
        <tr>
          <th class="th"><a class="nav-link th" href="/cotizmescams/new">HAZ UNA COTIZACIÓN DE ESTE MUEBLE</a></th>
          <th class="th"><a class="nav-link th" href="/catalogo/index">REGRESAR AL CATÁLOGO</a></th>
        </tr>
      </table>
    </div>
  </div>
</header>