<%= form_with(model: cotizclomul, local: true) do |form| %>
  <% if cotizclomul.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cotizclomul.errors.count, "error") %> prohibited this cotizclomul from being saved:</h2>

      <ul>
      <% cotizclomul.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :altura %>
    <%= form.select(:altura, options_for_select([['1', '1'], ['1.5', '1.5'], ['1.75', '1.75']]), {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :anchura %>
    <%= form.select(:anchura, options_for_select([['1', '1'], ['1.5', '1.5'], ['1.75', '1.75']]), {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.select(:material, options_for_select([['Material económico', 'Material económico'], ['Material caro', 'Material caro']]), {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.select(:color, options_for_select([['Madera clara', 'Madera clara'], ['Madera oscura', 'Madera oscura']]), {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo, id: :cotizclomul_correo %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :cotizclomul_nombre %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.select(:cantidad, options_for_select([['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7'], ['8', '8'], ['9', '9'], ['10', '10']]), {include_blank: true}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
