<header class="masthead mastheadC">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase">Cotizaciones de Closet Multifuncional</div>
      <div class="intro-lead-in">Puedes consultar tus cotizaciones de este tipo de mueble, indicando tu dirección de correo electrónico con la cual realizaste tus cotizaciones:</div>
      <br>
      <br>
      <br>
      <p id="notice"><%= notice %></p>

<%= form_for "", url: cotizclomuls_path, role: "Search", method: :get do %>
  <%= text_field_tag :correo, @correoelectronico, placeholder: "Indica tu dirección de correo electrónico" %>
  <%= submit_tag "Consultar Cotizaciones" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Altura (en metros)</th>
      <th>Anchura (en metros)</th>
      <th>Material</th>
      <th>Color</th>
      <th>Correo</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Confirmación de Orden de Compra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotizclomuls.each do |cotizclomul| %>
      <tr>
        <td><%= cotizclomul.altura %></td>
        <td><%= cotizclomul.anchura %></td>
        <td><%= cotizclomul.material %></td>
        <td><%= cotizclomul.color %></td>
        <td><%= cotizclomul.correo %></td>
        <td><%= cotizclomul.nombre %></td>
        <td><%= cotizclomul.cantidad %></td>
        <td><%= cotizclomul.confirmacion %></td>
        <td><%= link_to 'Show', cotizclomul %></td>
        <td><%= link_to 'Edit', edit_cotizclomul_path(cotizclomul) %></td>
        <td><%= link_to 'Destroy', cotizclomul, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
      <br>
      <br>
      <br>
      <div class="intro-lead-in">Muchas gracias por tu cotización.</div>
    </div>
  </div>
</header>