<p id="notice"><%= notice %></p>

<h1>Cotizclomuls</h1>

<%= form_for "", url: cotizclomuls_path, role: "Search", method: :get do %>
  <%= text_field_tag :search, @search_term, placeholder: "Indica tu dirección de correo electrónico" %>
  <%= submit_tag "Consultar Cotizaciones" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Altura (en metros)</th>
      <th>Anchura (en metros)</th>
      <th>Material</th>
      <th>Color</th>
      <th>Correo</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cotizclomuls.each do |cotizclomul| %>
      <tr>
        <td><%= cotizclomul.altura %></td>
        <td><%= cotizclomul.anchura %></td>
        <td><%= cotizclomul.material %></td>
        <td><%= cotizclomul.color %></td>
        <td><%= cotizclomul.correo %></td>
        <td><%= cotizclomul.nombre %></td>
        <td><%= cotizclomul.cantidad %></td>
        <td><%= link_to 'Show', cotizclomul %></td>
        <td><%= link_to 'Edit', edit_cotizclomul_path(cotizclomul) %></td>
        <td><%= link_to 'Destroy', cotizclomul, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Cotizclomul', new_cotizclomul_path %> -->
<%= link_to 'Inicio', inicio_index_path %>
<%= link_to 'Cotiza el Mueble que deseas', transacciones_cotizaciones_path %>
<%= link_to 'Consulta tus Cotizaciones y Pedidos', transacciones_consultas_path %>