<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @cotizclomul.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotizclomul.nombre %>
</p>

<%= link_to 'Edit', edit_cotizclomul_path(@cotizclomul) %> |
<%= link_to 'Back', cotizclomuls_path %>
