<p id="notice"><%= notice %></p>

<p>
  <strong>Altura (en metros):</strong>
  <%= @cotizclomul.altura %>
</p>

<p>
  <strong>Anchura (en metros):</strong>
  <%= @cotizclomul.anchura %>
</p>

<p>
  <strong>Material:</strong>
  <%= @cotizclomul.material %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cotizclomul.color %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cotizclomul.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotizclomul.nombre %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @cotizclomul.cantidad %>
</p>

<% case @cotizclomul.confirmacion %>
  <% when 'Por confirmar' %>
    <%= form_for "", url: @cotizclomul, role: "Search", method: :get do %>
      <%= hidden_field_tag :identificador, @cotizclomul.id %>
      <%= submit_tag "Enviar Clave de Confirmación de orden de compra" %>
    <% end %>

    <%= form_for "", url: @cotizclomul, role: "Search", method: :get do %>
      <%= hidden_field_tag :identificador, @cotizclomul.id %>
      <%= password_field_tag :clavecompra, nil %>
      <%= submit_tag "Confirmar orden de compra" %>
    <% end %>
  <% else %>
  <p>
    <strong>Confirmación de Orden de Compra: SÍ</strong>
  </p>
<% end %>

<%= link_to 'Edit', edit_cotizclomul_path(@cotizclomul) %> |
<%= link_to 'Back', cotizclomuls_path %>
