<p id="notice"><%= notice %></p>

<p>
  <strong>Altura (en metros):</strong>
  <%= @cotizclomul.altura %>
</p>

<p>
  <strong>Anchura (en metros):</strong>
  <%= @cotizclomul.anchura %>
</p>

<p>
  <strong>Material:</strong>
  <%= @cotizclomul.material %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cotizclomul.color %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cotizclomul.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotizclomul.nombre %>
</p>

<%= link_to 'Edit', edit_cotizclomul_path(@cotizclomul) %> |
<%= link_to 'Back', cotizclomuls_path %>
