<h1>Transacciones#index</h1>
<p>Find me in app/views/transacciones/index.html.erb</p>

<%= link_to 'Consultar mis Cotizaciones (Closets Multifuncionales)', cotizclomuls_path %>
<%= link_to 'Consultar mis Cotizaciones (Escritorios con Cama)', cotizesccams_path %>
<%= link_to 'Consultar mis Cotizaciones (Mesas con Cama)', cotizmescams_path %>
<%= link_to 'Consultar mis Cotizaciones (Mesas Expandibles)', cotizmesexps_path %>

<%= link_to 'Inicio', inicio_index_path %>
<%= link_to 'Cotiza el Mueble que deseas', transacciones_cotizaciones_path %>