<h1>Transacciones#cotizaciones</h1>
<p>Find me in app/views/transacciones/cotizaciones.html.erb</p>

<%= link_to 'Closet Multifuncional', new_cotizclomul_path %>
<%= link_to 'Escritorio con Cama', new_cotizesccam_path %>
<%= link_to 'Mesa con Cama', new_cotizmescam_path %>
<%= link_to 'Mesa Expandible', new_cotizmesexp_path %>

<%= link_to 'Inicio', inicio_index_path %>
<%= link_to 'Consulta tus Cotizaciones y Pedidos', transacciones_consultas_path %>