<h1>Transacciones#miscotizaciones</h1>
<p>Find me in app/views/transacciones/miscotizaciones.html.erb</p>

<%= form_for "", url: cotizclomuls_path, role: "Search", method: :get do %>
	<%= text_field_tag :search, @search_term, placeholder: "Indica tu dirección de correo electrónico" %>
<% end %>

<%= link_to 'Inicio', inicio_index_path %>
<%= link_to 'Haz una Cotización', transacciones_index_path %>
<%= link_to 'Consulta tus Órdenes de Compra', transacciones_mispedidos_path %>