<%= form_with(model: cotizmesexp, local: true) do |form| %>
  <% if cotizmesexp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cotizmesexp.errors.count, "error") %> prohibited this cotizmesexp from being saved:</h2>

      <ul>
      <% cotizmesexp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numeropuestos %>
    <%= form.select(:numeropuestos, options_for_select([['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']]), {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.select(:material, options_for_select([['Material económico', 'Material económico'], ['Material caro', 'Material caro']]), {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.select(:color, options_for_select([['Madera clara', 'Madera clara'], ['Madera oscura', 'Madera oscura']]), {include_blank: true}) %>
  </div>

  <div class="field">
    <%= form.label :correo %>
    <%= form.text_field :correo, id: :cotizmesexp_correo %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :cotizmesexp_nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
