<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @cotizmesexp.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotizmesexp.nombre %>
</p>

<%= link_to 'Edit', edit_cotizmesexp_path(@cotizmesexp) %> |
<%= link_to 'Back', cotizmesexps_path %>
