<p id="notice"><%= notice %></p>

<p>
  <strong>Número de puestos:</strong>
  <%= @cotizmesexp.numeropuestos %>
</p>

<p>
  <strong>Material:</strong>
  <%= @cotizmesexp.material %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cotizmesexp.color %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cotizmesexp.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotizmesexp.nombre %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @cotizmesexp.cantidad %>
</p>

<% case @cotizmesexp.confirmacion %>
  <% when 'Por confirmar' %>
    <%= form_for "", url: @cotizmesexp, role: "Search", method: :get do %>
      <%= hidden_field_tag :identificador, @cotizmesexp.id %>
      <%= submit_tag "Enviar Clave de Confirmación de orden de compra" %>
    <% end %>

    <%= form_for "", url: @cotizmesexp, role: "Search", method: :get do %>
      <%= hidden_field_tag :identificador, @cotizmesexp.id %>
      <%= password_field_tag :clavecompra, nil %>
      <%= submit_tag "Confirmar orden de compra" %>
    <% end %>
  <% else %>
  <p>
    <strong>Confirmación de Orden de Compra: SÍ</strong>
  </p>
<% end %>

<%= link_to 'Edit', edit_cotizmesexp_path(@cotizmesexp) %> |
<%= link_to 'Back', cotizmesexps_path %>
