<!DOCTYPE html>
<html>
    <title>PaginaWeb</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Custom styles -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'agency' %>
    
    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-agency/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom fonts -->
    <link href="https://blackrockdigital.github.io/startbootstrap-agency/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <!-- Barra de Navegacion -->
  	<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="barraNavegacion">
      <div class="container">
        <a class="logotipo" href="../"><%= image_tag("LogoIngenioFuncional.png", :width => "200", :alt => "Logo de Ingenio Funcional") %></a>
        <div class="col-md-6">
          <ul class="navbar-nav">
            <li class="lista">
              <a class="nav-link" href="/catalogo/index.html">NUESTROS PRODUCTOS</a>
            </li>
            <li class="lista">
              <a class="nav-link" href="/catalogo/index.html">CONTACTO</a>
            </li>
          </ul>
    		</div>
      </div>
    </nav>
  	
    <%= yield %>
        
    <!-- Pie de Pagina -->
    <footer>
      <div class="container">
        <table>
          <tr>
            <th>Universidad Nacional de Colombia</th>
          </tr>
          <tr>
            <th>Computación Gráfica 2018 - 1</th>
          </tr>
          <tr>
            <th>Bogotá D.C.</th>
          </tr>
          <tr>
            <th>Dirección de Correo Electrónico: ingeniofuncional@hotmail.com</th>
          </tr>
          <tr>
            <th>Todos los Derechos Reservados &copy; Ingenio Funcional 2018</th>
          </tr>
        </table>
      </div>
    </footer>
  </body>
</html>